.parent {
  font-size: xx-large;
}

.header {

}
.flex-container{
  display: flex;
  //flex-direction: row;
  //justify-content: flex-start;
  //justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  //align-items: stretch;
  border: solid 1px #000000;
}

.flex-item {
  align-self: stretch;
  flex: 1;
  border: solid 1px cyan;
  //flex-grow: 1
}
